body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(63, 63, 65);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.nav {
    display: flex;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item {
    margin-right: 20px;
}

.nav-item a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-item a:hover {
    text-decoration: underline;
}

.search-container {
    display: flex;
}

.search-input {
    padding: 5px;
    font-size: 16px;
}

.search-button {
    padding: 5px 10px;
    margin-left: 10px;
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.search-button:hover {
    background-color: #777;
}
